#container2 {
    display: inline;
    margin-top: top;
    padding: 280px;
    border-radius: 150px; 
    max-width: 900px; /* Establece un ancho máximo para el container */



    /*  */
  }
  .navbar-collapse{
    justify-content: flex-end;

  }
  
  .menu{
    position: absolute;
    margin-bottom: 900px;
    width: 1950px;

  }